body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.card {
  padding: 15px 25px 0px 25px;
}

.data {
  background-image: url("background.svg");
  background-repeat: repeat;
  margin-top: 240px;
  padding: 15px 25px 25px 25px;
}

.description {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
}

.name {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

main {
  position: relative;
}

nav {
  padding: 40px 25px 15px 25px;
}

nav a {
  color: #1A1A1A;
  font-weight: 500;
}

.photography img {
  float: left;
  padding: 0px 25px 25px 25px;
  position: absolute;
  width: 65%;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 120px;
}

.social img {
  height: 30px;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

ul li:before {
  content: '\2014';
  margin-left: -15px;
  position: absolute;
}
